# Base requirements:
aiohttp
asyncio
asynctest
autoflake
bandit
black
fastapi==0.63.0  # latest version (0.108.0 for now) is broken: confuses headers
flake8
flake8-bugbear
isort
mypy >= 0.981
pyyaml
pip-tools
pydantic
python-dotenv
jinja2
ruff
uvicorn >= 0.34.2
twine
wheel


# Fix unsatisfied dependency on dataclasses 0.8 issue
dataclasses==0.6

# OpenStack integration requirements:
apache-libcloud>=3.6.1

# Azure integration requirements:
azure-core
azure-identity
azure-mgmt-resource
azure-mgmt-commerce
azure-mgmt-compute >= 32.0.0
