# Base requirements:
aiohttp
autoflake
bandit
black
fastapi
flake8
flake8-bugbear
isort
mypy >= 0.981
pyyaml
pip-tools
pydantic
python-dotenv
jinja2
ruff
uvicorn
twine
wheel

# OpenStack integration requirements:
apache-libcloud>=3.6.1

# Azure integration requirements:
azure-core
azure-identity
azure-mgmt-resource>=23.0.1,<25
azure-mgmt-commerce
azure-mgmt-compute >= 32.0.0
