# Base requirements:
aiohttp
asyncio
asynctest
attrs>=19.0.0
autoflake
bandit
black
fastapi==0.63.0  # latest version (0.108.0 for now) is broken: confuses headers
flake8
flake8-bugbear
isort
mypy >= 0.981
pyyaml
pip-tools
pydantic
jinja2
ruff
uvicorn
typed-ast==1.5.4

# Fix unsatisfied dependency on dataclasses 0.8 issue
dataclasses==0.6

# OpenStack integration requirements:
apache-libcloud>=3.6.1

# Azure integration requirements:
azure-identity
azure-mgmt-resource
azure-storage-blob
